#display {
  height: 50px;
  width: 80%;
  font-weight: bolder;
  font-size: 20px;
  background-color: rgba(152, 251, 152, 0.75);
  overflow: hidden;
}

#display.active {
  background-color: rgba(152, 251, 152, 1);
}

@media screen and (min-width: 576px) {
  #display {
    width: 100%;
  }
}