.container-fluid {
  max-width: 700px;
}

#drum-machine {
  width: 75%;
  border-radius: 7%;
}

.row {
  --bs-gutter-x: 0;
}

.pad-active {
  background-color: green !important;
}

@media screen and (min-width: 400px) {
  #drum-machine {
    width: 55%;
  }
}